<%= form_for(@society) do |f| %>
  <% if @society.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@society.errors.count, "error") %> prohibited this society from being saved:</h2>

      <ul>
      <% @society.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre,autofocus: true, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :descripcio %><br>
    <%= f.text_area :descripcio,autofocus: true, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :valor_anual %><br>
    <%= f.text_field :valor_anual,autofocus: true, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :valor_semestral %><br>
    <%= f.text_field :valor_semestral,autofocus: true, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :valor_mensual %><br>
    <%= f.text_field :valor_mensual,autofocus: true, class: 'form-control' %>
  </div>

  <div align="center">
      <%= link_to_add_association 'Añadir descuento', f,:discounts,
                                  'data-association-insertion-node' => "#discounts-category ",
                                  'data-association-insertion-method' => "append",
                                    :wrap_object => Proc.new {|discount| discount.build_category; discount }%>
      <hr/>
      <fieldset id="discounts-category">
        <%= f.fields_for :discounts do |discount| %>
            <%= render partial: "discount_fields", locals: {f:discount} %>
        <%end%>
      </fieldset>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
